.btn-danger {
    margin-left: 10%;
}

.intro-header{
    background-color: #111;
    height:10vh;
}

.post-title{
    background-color: #fff;
    padding:5px;
    height:200px;
    margin-bottom:30px;
}

.post-title img{
    float: left;
    margin-right:10px;
}
a{
    text-decoration: none;
}
h2{
    font-size:1.3rem;
}
p{
    font-size:1rem;
}
.post-preview{
}
.site-heading{
    width: 50em !important;
}

a:hover{
    text-decoration: none;
}

nav{
    box-shadow: none;
}
.navbar-header a{
    height:100%;
}

.page-footer{
    background-color: #00E094;
}

select{
    display: inline!important;
}

.textearticle {
    font-size: 1.5em;
}
.mhb {
    width: 15vh;
}
.aere{
    padding-top: 10vh;
    padding-bottom: 5vh;
}