.btn-danger {
    margin-left: 10%;
}

.nav-extended {
    background-color: #222;
    height: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    position: fixed;
    margin-bottom: 30px;
    z-index: 999;
}

.nav-extended a:hover {
    color:#00E094;
}
.Cat{
    text-transform: uppercase;
}
.Cat li a{
    font-size: 0.9em!important;
    margin-top: 1vh;

}
.intro-header{
    height:15vh;
}
.post-title img{
    height: 100%;
    max-width: 30%;
}

.post-title{
    background-color: #fff;
    padding:5px;
    height:200px;
    margin-bottom:30px;
}

.post-title img{
    float: left;
    margin-right:10px;
}
a{
    text-decoration: none;
}
h2{
    font-size:1.3rem;
}
p{
    font-size:1rem;
}
.post-preview{
}
.site-heading{
    width: 50em !important;
}

a:hover{
    text-decoration: none;
}

nav{
    box-shadow: none;
}
a img{
    cursor: pointer;
}
.navbar-header a{
    height:100%;
}

.page-footer{
    background-color: #00E094;
}
.active{
    font-weight:700;
    border-bottom: 3px solid #00E094;
    color:#00E094;
    padding-bottom: 10px;
}
select{
    display: inline!important;
}

.textearticle {
    font-size: 1.5em;
}
.mhb {
    width: 150px;
    cursor: pointer!important;
    margin-top: 5px;
    padding: 0 15px;
}
.aere{
    padding-top: 10vh;
    padding-bottom: 5vh;
}