.btn-danger {
    margin-left: 10%;
}

.post-title img{
    float: left;
    margin-right:10px;
}
p a,a{
    text-decoration: none;
}
.post-preview{

}

a:hover{
    text-decoration: none;
}

.page-footer{
    background-color: #00E094;
}